<div class="login">
  <header>
    <ul class="header-menu">
      <li>
        <div id="header-login-wrapper">
          <p id="header-login-button">Register</p>
          <span id="header-login-line"></span>
        </div>
      </li>
      <!-- 			<li id="header-register-button">Sign In</li> -->
    </ul>
  </header>
  <div id="content-wrapper" class="register__page">
    <input type="name" class="client-info" placeholder="Name" />
    <input type="email" class="client-info" placeholder="Email" />
    <input type="password" class="client-info" placeholder="Password" />
    <button  id="register-button" >Register</button>
    <a href="/login" id="recovery" class="span__name">Already have account?</a>
  </div>
</div>
