<div class="menu container mx-auto py-8 max-w-7xl">
  <div class="col-md-4 offset-md-4">
    <% if(session.cart){ %>
    <div class="card">
      <div style="margin: auto">Confirm Your Order's</div>
      <div class="card-body">
        <form class="" action="/paynow" method="POST">
          <div class="form-group">
            <label for="">Name: </label>
            <input
              class="form-control"
              type="text"
              name="name"
              value=""
              required
            />
            <input
              type="hidden"
              name="id"
              value="<%= session.passport.user %>"
            />
          </div>
          <div class="form-group">
            <label for="">Email: </label>
            <input
              class="form-control"
              type="text"
              name="email"
              value=""
              required
            />
          </div>
          <div class="form-group">
            <label for="">Phone: </label>
            <input
              class="form-control"
              type="text"
              name="phone"
              value=""
              required
            />
            <input
              class="form-control"
              type="hidden"
              name="amount"
              value="<%= session.cart.totalPrice %>"
            />
          </div>
          <div class="form-group">
            <button class="btn form-control payment__btn">Pay Now</button>
          </div>
        </form>
        <div class="btn__dark">
          <a class="mx-auto" href="/customer-orders">Go in cart</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
