<div class="menu container mx-auto py-8 max-w-7xl">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form class="" action="/paynow" method="POST">
          <div class="form-group">
            <label for="">Name: </label>
            <input class="form-control" type="text" name="name" value="" />
          </div>
          <div class="form-group">
            <label for="">Email: </label>
            <input class="form-control" type="text" name="email" value="" />
          </div>
          <div class="form-group">
            <label for="">Phone: </label>
            <input class="form-control" type="text" name="phone" value="" />
          </div>
          <div class="form-group">
            <label for="">Amount: </label>
            <input class="form-control" type="text" name="amount" value="" />
          </div>
          <div class="form-group">
            <button class="btn form-control btn-primary">Pay Now</button>
          </div>
        </form>
        <div><a href="/customer-orders">Go in cart</a></div>
      </div>
    </div>
  </div>
</div>
